################################################################
#应用ID和应用密钥在 Eova应用中心 http://www.eova.cn/app 注册获取, 请勿将自己的应用配置泄漏给其它人

#应用ID
app_id = 
#应用密钥
app_secret = 
################################################################

#应用域名
app_domain = http://www.eova.cn
#应用LOGO
app_logo = /ui/images/logo.png
#应用主页
app_main = /welcome

#是否启用云服务(依托社区云端大数据，人工智能进行数据预处理，节省成吨工作量！)
cloud_service = true